

<div class=" relative overflow-x-auto  ">
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 h-32">
  <tr>
    <th scope="col" class="px-6 py-3" >
      <div class="flex items-center ">
      Image
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Nom
        <button (click)="sortName()"  ><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></button>
      </div>
    </th>
    <th scope="col" class="px-6 py-3  self-center" >
      <div class="flex justify-center">
        Attaque
        <button (click)="sortAtt('attaque')"><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></button>
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Esquive
        <button (click)="sortAtt('esquive')"><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></button>
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Dégats
        <button (click)="sortAtt('degats')"><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></button>
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Point de vie
        <button (click)="sortAtt('point_de_vie')"><svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></button>
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Hero Valide
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Arme
      </div>
    </th>
    <th scope="col" class="px-6 py-3" >
      <div class="flex  justify-center">
        Arme Valide
      </div>
    </th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hero of heroes" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 h-24" routerLink="/detail/{{hero.getId}}">
    <td class="px-6 "> <img class=" mx-auto  h-32 w-16 items-center"src="assets/{{hero.getImage}}.png"></td>
    <td class="px-6 text-center">{{hero.Name}}</td>
    <td class="px-6 text-center {{hero.getAttaqueTotal >= 0 ?'text-green-400' : 'text-red-600' }}">{{hero.getAttaqueTotal}}</td>
    <td class="px-6 text-center {{hero.getEsquiveTotal >= 0 ?'text-green-400' : 'text-red-600' }}">{{hero.getEsquiveTotal}}</td>
    <td class="px-6 text-center {{hero.getDegatsTotal >= 0 ?'text-green-400' : 'text-red-600' }}">{{hero.getDegatsTotal}}</td>
    <td class="px-6 text-center {{hero.getPvTotal >= 0 ?'text-green-400' : 'text-red-600' }}">{{hero.getPvTotal}}</td>
    <td class="{{hero.isValide() ? 'bg-green-400' : 'bg-red-400'}} text-black text-center">{{hero.isValide() ? 'OK' : 'KO'}}</td>
    <td class="text-center">{{hero.getArme?.Name}}</td>
    <td class="{{hero.getArme?.isValide() ? 'bg-green-400' : 'bg-red-400'}} text-black text-center">{{hero.getArme?.isValide() ? 'OK' : 'KO'}}</td>
  </tr>

  </tbody>
</table>

</div>
<router-outlet></router-outlet>
